<h1>To your very stupid coach</h1>

<p class="ask">-the most handsome man : <%=params[:ask]%></p>

<p class="answer">-<strong>the coach</strong> : <%=@answer%></p>

<a><%= link_to "Something ?", ask_path %></a>
